body {
    margin: 0;
}

.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.center {
    text-align: center;
}

.j-c-between {
    justify-content: space-between;
}

.a-i-center {
    align-items: center;
}

.btn {
    font-size: 18px;
    border-radius: 30px;
    padding: 0.5rem 2rem;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn-yellow {
    background-color: $yellow;
    color: #000;
    font-weight: 700;
}

.btn-yellow-light {
    background-color: $yellow-light;
    color: #000;
    font-weight: 700;
    padding: 0.8rem 2.5rem;
    box-shadow: 4px 4px 8px rgba(23, 55, 95, 0.2);
}

.btn-purple {
    background-color: $purple;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    padding: 1rem 2rem;
    box-shadow: 4px 4px 8px rgba(23, 55, 95, 0.2);
}

input {
    border: none;
    outline: none;
    padding: 0 10px;
    border-radius: 5px;
    font-weight: 300;
    font-size: 16px;
}
