@import "_container";
@import "_colors";
@import "_common";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&family=Roboto:wght@100&display=swap");

body {
    font-family: "Montserrat";
}
.title-section {
    font-weight: 700;
    font-size: 35px;
    margin: 0;
}

header {
    .container {
        padding: 20px 0;
    }

    img {
        height: 70px;
        padding-right: 30px;
        border-right: 3px solid #3b393c;
    }

    h2 {
        text-transform: uppercase;
        width: 400px;
        margin-left: 30px;
    }
    .tel {
        width: auto;
        margin-right: 20px;
    }
}

.section1 {
    background: url(../assets/img/back.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 700px;
    color: #fff;

    .text {
        margin-top: 100px;
        padding-right: 20px;
        .title {
            font-size: 2.5em;
            margin: 0;
            font-weight: 700;
            text-transform: uppercase;
        }

        .title-1 {
            font-size: 1.5em;
            font-weight: 300;
            text-transform: uppercase;
        }

        .title-2 {
            font-size: 2.5em;
            font-weight: 700;
        }

        P {
            font-size: 24px;
        }

        span {
            color: $yellow;
        }

        .p1 {
            font-size: 26px;
            text-transform: uppercase;
            font-weight: 700;
        }
    }

    form {
        margin-top: 80px;
        padding: 30px 50px;
        background: $yellow;
        text-transform: uppercase;
        border-radius: 30px;
        min-width: 500px;
        .title {
            color: $purple;
            font-size: 4em;
            margin: 0 0;
            font-weight: 700;
        }
        .title-1 {
            color: $purple;
            margin: 0;
            font-size: 1.3em;
            font-weight: 500;
        }
        .title-2 {
            font-size: 1em;
            font-weight: 500;
        }

        input {
            height: 50px;
            width: 100%;
            margin: 20px 10px 0 0;
            border-radius: 5px;
            font-size: 16px;
            font-weight: 300;
        }

        .btn-purple {
            margin-top: 30px;
        }
    }
}

.section2 {
    max-width: 1400px;
    margin: 50px auto;
    background: url(../assets/img/Subtract.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    h1 {
        padding-bottom: 25px;
        margin: 0;
        transform: translateY(-12px);
    }

    .benefits {
        flex-wrap: wrap;
        justify-content: space-between;
        padding-bottom: 50px;
    }

    .item {
        align-items: center;
        max-width: 30%;
        margin-bottom: 25px;
        p {
            margin-left: 20px;
            font-size: 20px;
        }
        img {
            width: 70px;
            height: 70px;
        }
    }
}

.section3 {
    .title-section {
        margin-bottom: 50px;
    }
    .photos {
        flex-wrap: wrap;
        .btn {
            position: absolute;
            top: 85%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        h3 {
            position: absolute;
            top: 65%;
            left: 50%;
            color: white;
            font-size: 25px;
            font-weight: 600;
            transform: translate(-50%, -50%);
        }

        .item {
            position: relative;
        }

        .three {
            width: 100%;
            .item {
                width: calc(100vw / 3);
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .item:nth-child(2) {
                padding: 0 2px;
            }
        }
        .two {
            width: 100%;
            margin-top: 2px;
            .item {
                width: 50vw;
                overflow: hidden;
                img {
                    width: calc(100% - 2px);
                }
            }
        }
    }
}

.section4 {
    .hr {
        width: 2px;
        height: 140px;
        background: rgba(255, 255, 255, 0.2);
    }
    .container {
        margin: 50px auto;
        position: relative;
    }
    .text {
        font-size: 35px;
        color: $purple;
        border-left: 5px solid $purple;
        padding: 30px 0 30px 30px;
        font-weight: 700;
        width: 45%;
        text-transform: uppercase;
    }

    .item {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 25%;
        height: 100%;
        justify-content: start;

        div:nth-child(1) {
            margin-bottom: 20px;
            margin-bottom: 20px;
            min-height: 75px;
            display: flex;
            align-items: end;
        }
        div:nth-child(2) {
            height: 75px;
        }
        div:nth-child(3) {
            margin-top: 20px;
        }
    }
    .item:nth-child(2) {
        border-right: 2px solid rgba(255, 255, 255, 0.2);
        border-left: 2px solid rgba(255, 255, 255, 0.2);
        padding: 0 20px;
    }
    .item:nth-child(3) {
        width: 30%;
    }
    .card2 {
        background: $yellow;
        width: 50vw;
        position: absolute;
        height: 316px;
        right: 0;
    }
    .card {
        color: #fff;
        font-weight: 500;
        font-size: 18px;
        background: $yellow;
        margin-left: 20px;
        border-radius: 30px 0 0 30px;
        padding: 40px 0 40px 40px;
        align-items: center;
        justify-content: space-between;
        text-transform: uppercase;

        span {
            color: $purple;
            font-size: 60px;
            font-weight: 700;
        }

        .item div:nth-child(2) {
            font-size: 30px;
            color: $purple;
            font-weight: 700;
            text-transform: lowercase;
            border-top: 1px solid #fff;
            border-bottom: 1px solid #fff;
        }
    }
}

.section5 {
}

.section6 {
    p {
        font-weight: 300;
        font-size: 15px;
        width: 50%;
        margin: 30px auto;
        color: #4a4a4a;
        span {
            color: #f8b500;
        }
    }
}
